*.psess
*.aps
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
Bin
ipch
Debug
Debug Win8
Debug XP
Profile
Release
Release Win8
Release XP
x64
Test
/wiki
