
#include "winver.h"                       // extract from windows header

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", 			"Microsoft Corporation"
            VALUE "FileDescription", 	"Game Explorer Install Helper DLL"
            VALUE "FileVersion", 			"1.00.000.0000"
            VALUE "InternalName", 		"Game Explorer Install Helper DLL"
            VALUE "LegalCopyright", 	"Copyright (C) Microsoft Corporation."
            VALUE "OriginalFilename", "GameuxInstallHelper.DLL"
            VALUE "ProductName", 			"Game Explorer Install Helper DLL"
            VALUE "ProductVersion", 	"1.00.000.0000"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

